.btn {
  background-color: blueviolet !important;
  color: white !important;
}
.bgnavbar {
  background-color: #2e073f !important;
}

.btnColor {
  color: white !important;
}

.navbar-toggler {
  background-color: white !important;
}
